.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
}

header {
    color: #a62c2b;
    padding: 10px;
    text-align: center;
    background-color: #121212;
}


h2 {
    color: #a62c2b;
}

.faq {
    padding: 15px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    background: rgba(73, 73, 73, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(73, 73, 73, 0.3);
}

.faq h3 {
    margin: 0;
    color: #a62c2b;
}

.faq p {
    margin-top: 10px;
    color: #bebebe;
}

footer {
    background-color: #3f3f3f;
    color: #bebebe;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
}