<header>
    <h1>Centro de Ayuda</h1>
</header>

<div class="container">
    <h2>Preguntas Frecuentes</h2>

    <div class="faq">
        <h3>¿Cómo crear una cuenta?</h3>
        <p>Para crear una cuenta, haga clic en el botón "Registrarse" en la página principal. Complete los campos con su
            correo electrónico y una contraseña segura. Luego, podrá comenzar a disfrutar de nuestros
            contenidos.</p>
    </div>

    <div class="faq">
        <h3>¿Cómo ver una película?</h3>
        <p>Una vez que haya iniciado sesión, navegue por nuestro catálogo de películas y series. Acerque el mouse a la
            imagen de la película que desea ver y luego presione "Ver Ahora". ¡Disfrute del contenido!</p>
    </div>

    <div class="faq">
        <h3>¿Cómo cambiar mi plan de suscripción?</h3>
        <p>Para cambiar su plan de suscripción, acceda al menú principal y seleccione "Suscripción".
            Allí podrá elegir el plan que más le convenga.</p>
    </div>

    <div class="faq">
        <h3>¿Qué hago si olvidé mi contraseña?</h3>
        <p>Si olvidó su contraseña, haga clic en "¿Olvidaste tu contraseña?" en la pantalla de inicio de sesión. Ingrese
            su correo electrónico y le enviaremos un enlace para restablecerla.</p>
    </div>

    <div class="faq">
        <h3>¿Cómo cancelar mi suscripción?</h3>
        <p>Para cancelar su suscripción, vaya al menu, seleccione "Suscripción" y luego haga clic en "Cancelar
            suscripción". Siga las instrucciones para completar el proceso.</p>
    </div>
</div>
<br>

<footer>
    <p>&copy; 2025 Plataforma de Streaming. Todos los derechos reservados.</p>
</footer>