body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(180, 180, 180);
  background-color: #1f1f1f;
}

.search-container {
  position: relative;
  width: 290px;
  margin: 20px auto;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.search-input {
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-icon svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.delete-icon:hover {
  background-color: #555;
}

.search-bar:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.search-bar:focus-within {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 200%;
  border-radius: 100px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
  transition: all 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.search-bar:hover+.glow {
  transform: translate(-50%, -50%) scale(1);
}

.search-bar:focus-within+.glow {
  transform: translate(-50%, -50%) scale(1.2);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
}


.bannerlogo {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("/assets/images/bannerlogo.webp");
  background-position: center;
  background-size: cover;
}

.content {
  padding: 30px 80px;
  background-image: url("/assets/images/stars.webp");
}

.btn-watch {
  background-color: #308446;
  color: rgb(225, 225, 225);
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-watch:hover {
  background: #1d532b;
  color: rgb(225, 225, 225);
  box-shadow: 0 8px 32px rgba(189, 189, 189, 0.3);
}

.btn-addfavorites {
  margin-top: 5px;
  background-color: rgb(225, 225, 225);
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-addfavorites:hover {
  background: gold;
  color: #111;
  box-shadow: 0 8px 32px rgba(189, 189, 189, 0.3);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #a62c2b;
}

h3 {
  font-size: 1.3em;
  color: gray;
}

.movies,
.series,
.favoritos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px 0;
  white-space: nowrap;
  scrollbar-width: none;

}

.track {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.movie-card,
.series-card,
.favoritos-card {
  width: 250px;
  flex-shrink: 0;
  background-color: #333;
  color: rgb(225, 225, 225);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  scroll-snap-align: center;
  height: 300px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.movie-card img,
.series-card img,
.favoritos-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-card:hover,
.series-card:hover,
.favoritos-card:hover {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: rgb(225, 225, 225);
  padding: 10px;
}

.movie-card:hover .card-overlay,
.series-card:hover .card-overlay,
.favoritos-card:hover .card-overlay {
  opacity: 1;
}

.aside-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(0, 0, 0, 0.31);
}

.aside-menu:hover,
.aside-menu.expanded {
  width: 200px;
}

.aside-menu>ul {
  margin: 0;
  padding: 0;
}

.submenu {
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.nav-text {
  display: none;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  padding-left: 10px;
}

.aside-menu:hover .nav-text {
  display: inline-block;
}


.aside-menu li {
  display: block;
  width: 100%;
}

.aside-menu li>a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #999;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.aside-menu li:hover>a,
.aside-menu li.active>a {
  color: #862020;
  background-color: #27272788;
}

.aside-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.btn-addfavorites.eliminar {
  background-color: #dc3545;
}

.btn-addfavorites.eliminar:hover {
  background-color: #bd2130;
}

.scroll-btn {
 /*  background-color: rgba(255, 255, 255, 0.1);  */
  background-color: #1e1e1e; 
  border: 1px solid rgba(255, 255, 255, 0.4); 
  color: #cbcbcb; 
  font-size: 24px;
  width: 40px;
  height: 90%; 
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(100px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.scroll-btn:hover {
 /*  background-color: rgba(255, 255, 255, 0.2); */
  background-color: #1e1e1e;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transform: translateY(-50%) scale(1.1);
}

.scroll-btn.left {
  left: 12px;
}

.scroll-btn.right {
  right: 12px;
}


.favoritos-container,
.movies-container,
.series-container {
  position: relative;
  overflow: visible;
  padding: 0 30px;
}